body {
    max-width:290px;
    height:45px;
    background-color:hsl(172, 100%, 37%);
    color:#fff;
}
.card {
    margin:2.5px 2.5px 2.5px 2.5px;
    background:transparent;
}
#title {
    font-size:1.1rem;
    padding-left:30px;
}
/*.border {
    border:1px solid #efefef;
}*/
.btn-secondary {
    background-color:#00bfa5;
    border-color:#00bfa5;
}
#save {
    background-color:#00bfa5;
    border-color:#00bfa5;
    color:#fff;
}
#menu {
    position: absolute;
    z-index:9999;
    left:-300px;   
    width:150px;
}
#menu > li {
    width:160px;
}

#select-category {
    max-width:185px;
    font-size:0.85rem;
}
.replace-text {
    font-size:1.1rem;
}
.pointer {
    cursor: pointer;
}
.dropdown-menu > li:nth-child(2) {
    border-bottom : 1px solid #ddd;
}
.dropdown-menu > li {
    padding:5px;
}